<!DOCTYPE html>
<html>
<head>
    <title>Data Dosen</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h3> Data Dosen</h3>
    <a href= "/dosen/create">Tambah</a><br><br>
    <table>
        <thead>
            <tr>
                <th>NIDN</th>
                <th>NAMA</th>
                <th coslpan="2">Action</th>
            </tr>
        <thead>
         <tbody>
            {% for obj in data %}
            <tr>
                <td>{{ obj.nidn }}</td>
                <td>{{ obj.nama }}</td>
                <td> <a href="/dosen/edit/{{ obj.id }}">edit</td>
                <td><a href="/dosen/delete/{{ obj.id }}" tittle="delete" class="delete" onlick="return (confirm Anda yakin Mengapus Data ini?)">delete</a></td>
            </tr>
            
            {% endfor %}
         </tbody>
        </thead>
        </thead>
    </table>
</body>
</html>